{% block body %}
<head>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AdamApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('homepage') }}">Strona główna <span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ (is_granted('ROLE_USER')) ? url('edit_own_data') : path('fos_user_security_login') }}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ (is_granted('ROLE_USER')) ? url('province_list') : path('fos_user_security_login') }}">Wybierz
                    województwo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('contact_form') }}">Kontakt <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Więcej
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                       href="{{ (is_granted('ROLE_USER')) ? path('lake_list') : path('fos_user_security_login') }}">Spis
                        jezior</a>
                </div>
            </li>
            {% if (is_granted('ROLE_ADMIN')) %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('post_images') }}">Dodaj zdjęcie</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('sonata_admin_dashboard') }}">Panel administracyjny</a>
                    </div>
                </li>
            {% endif %}
            {% if (is_granted('ROLE_USER') == false) %}
                <li class="nav-item">
                    <a class="nav-link btn btn-success" href="{{ path('fos_user_security_login') }}">Zaloguj się</a>
                </li>
            {% endif %}
            {% if (is_granted('ROLE_USER') == false) %}
                <li class="nav-item">
                    <a class="nav-link btn btn-warning" href="{{ path('fos_user_registration_register') }}">Zarejestruj
                        się</a>
                </li>
            {% endif %}
            {% if (is_granted('ROLE_USER')) %}
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="{{ path('fos_user_security_logout') }}">Wyloguj się</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block stylesheets %}
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet"/>
{% endblock %}

{% endblock %}
