<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}AdamApp{% endblock %}</title>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/fontawesome-all.min.css') }}" rel="stylesheet"/>

    {% block stylesheets %}{% endblock %}
    {% include '@App/Templates/navbar.html.twig' %}
    {% block body %}


    {% endblock %}

    {#{% block pageContainer %}#}
    <table class="table table-bordered table-striped table-hover">
        {% block table %}{% endblock %}
        {#{% endblock %}#}


        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/ajax/js/js-url-2.3.0.min.js') }}"></script>
        <script src="{{ asset('bundles/ajax/js/BeeflowAjax.min.js') }}"></script>
        <script src="{{ asset('js/index.js') }}"></script>
        <script src="{{ asset('js/navbar.js') }}"></script>

        {% block javascripts %}{% endblock %}
        </body>
</html>
