{% extends 'base.html.twig' %}

{% block title %}- {{ 'registration.header'|trans }}{% endblock %}
{% block body %}

    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">

                <form class="form-container" action="{{ path('fos_user_registration_register') }}" method="post"
                      name="loginform">
                    <div class="form-group">
                        <h2 class="register-text">Rejestracja</h2>
                    </div>

                    <fieldset>
                        <div class="form-group">
                            <label class="block-clearfix">
        <span class="block input-icon input-icon-right">
            {{ form_widget(form.username, { 'attr': {
                'class': 'form-control',
                'pattern': '[A-Za-z0-9]{2,}',
                'title': 'registration.title'|trans,
                'placeholder': 'registration.username'|trans
            }}) }}

        </span>
                                {% set username_error = form_errors(form.username) %}
                                {% if username_error is not empty %}
                                    <div class="alert alert-danger form-group-alert">
                                        {{ form_errors(form.username) }}
                                    </div>
                                {% endif %}
                            </label><br>
                        </div>

                        <div class="form-group">
                            <label class="block-clearfix">
        <span class="block input-icon input-icon-right">
            {{ form_widget(form.email, { 'attr': {
                'class': 'form-control',
                'type': 'email',
                'pattern': '/^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/',
                'title': 'Podaj poprawny adres email',
                'placeholder': 'registration.email'|trans
            }}) }}

        </span>
                                {% set email_error = form_errors(form.email) %}
                                {% if email_error is not empty %}
                                    <div class="alert alert-danger form-group-alert">
                                        {{ form_errors(form.email) }}
                                    </div>
                                {% endif %}
                            </label><br>
                        </div>

                        <div class="form-group">
                            <label class="block-clearfix">
        <span class="block input-icon input-icon-right">
            {{ form_widget(form.plainPassword.first, { 'attr': {
                'class': 'form-control',
                'type': 'password',
                'placeholder': 'registration.password.first'|trans({}, 'messages')
            }}) }}

        </span>
                                {% set plainPassword_error = form_errors(form.plainPassword) %}
                                {% if plainPassword_error is not empty %}
                                    <div class="alert alert-danger form-group-alert">
                                        {{ form_errors(form.plainPassword) }}
                                    </div>
                                {% endif %}
                            </label><br>
                        </div>

                        <div class="form-group">
                            <label class="block-clearfix">
    <span class="block input-icon input-icon-right">
        {{ form_widget(form.plainPassword.second, { 'attr': {
            'class': 'form-control',
            'type': 'password',
            'placeholder': 'registration.password.second'|trans
        }}) }}

    </span>
                                {% set plainPassword_error = form_errors(form.plainPassword) %}
                                {% if plainPassword_error is not empty %}
                                    <div class="alert alert-danger form-group-alert">
                                        {{ form_errors(form.plainPassword) }}
                                    </div>
                                {% endif %}
                            </label><br>
                        </div>
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-success btn-block button"><i class="fa fa-thumbs-o-up"></i><span>
                            Zarejestruj</span>
                        </button>
                        <br/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    {% block stylesheets %}
        <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
    {% endblock %}

{% endblock %}


