{% extends 'base.html.twig' %}


{% block title %}Lista jezior{% endblock %}

{% block body %}
    {{ parent() }}


{% endblock %}

    {% block table %}

        {% for lake in province_id %}
            <tr>
                <td style="border:1px black solid"><a
                            href="{{ path('lake_site', { "id": lake.id }) }}">{{ lake.name }}</a></td>
            </tr>
        {% endfor %}

    {% endblock %}