{% extends 'base.html.twig' %}
{% block title %}Opis jeziora{% endblock %}
{% block body %}
    {{ parent() }}

{% endblock %}
    {% block table %}
        <thead class="thead-inverse">
        <tr>
            <td>lp.</td>
            <td>Nazwa Jeziora</td>
            <td>Miasto</td>
            <td>Adres</td>
            <td>Informacje</td>
        </tr>
        </thead>

        {% for lak in lake %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ lak.name }}</td>
                <td>{{ lak.city }}</td>
                <td>{{ lak.address }}</td>
                <td>{{ lak.info }}</td>
            </tr>
        {% endfor %}

        {% for img in images %}
            <td><img src="{{ asset('uploads/images/' ~ img.image) }}" width="300" height="300"></td>
        {% endfor %}
    {% endblock %}