{% extends '@App/default/index.html.twig' %}
{% block title %}Błąd 404{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Nie znaleziono informacji</h1>
    <p>Nie udalo sie znaleźć szukanych informacji. Serwer zwrócił bład o treści:</p>

    <h5>{{ error_message }}</h5>

{% endblock %}
