{% extends '@App/default/index.html.twig' %}
{% block title %}Błąd 404{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Błąd aktualizacji danych</h1>
    <p>Nie udalo sie zaktualizowac danych. Serwer zwrócił błąd o treści::</p>

    <h5>{{ error_message }}</h5>

{% endblock %}
