{% extends 'base.html.twig' %}

{% block title %}Lista Województw{% endblock %}

{% block body %}
    {#{{ parent() }}#}

{% endblock %}

    {% block table %}

        {% for province in provinces %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ path('province_lake_list', { "provinceId": province.provinceId } ) }}">{{ province.name }}</a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}