* {
    padding: 0;
    margin: 0;
}


.bg {
    /*background: url("../images/bg.png") no-repeat;*/
    /*background-color: #e3e6e9;*/
    /*width: 100vh;*/
    /*height: 100vh;*/
    background-image: url("../images/login.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-container {
    padding: 10px 10px;
    margin: 30px;
    -webkit-box-shadow: -1px 3px 11px 5px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 3px 11px 5px rgba(0,0,0,0.45);
    box-shadow: -1px 3px 11px 5px rgba(0,0,0,0.45);
}

.login-text {
    text-align: center;
}

.links {
    color: black;
    padding: 10px;
    margin: 10px;
}
.register-text {
    text-align: center;
    font-size: 3.5vw;
}

.red {
    color: red;
}

.form-group {
    text-align: center;
}

.login-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

.login-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.button {
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}