{% extends 'base.html.twig' %}

{% block title %}- {{ 'login.header'|trans }}{% endblock %}
{% block body %}

    <form action="{{ path('fos_user_security_check') }}" method="post" name="loginform">

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <div class="container-fluid bg">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">

                    <fieldset class="form-container">
                        <div class="form-group">
                            <h2 class="login-text">Logowanie</h2>
                        </div>
                        <div class="form-group">
                            {#<label class="col-sm-2 col-form-label required">{{ 'login.username'|trans|capitalize }}</label>#}
                            {#<label class="col-form-label required">{{ 'login.username'|trans|capitalize }}</label>#}
                            <div class="">
                                <input type="text"
                                       name="_username"
                                       class="form-control"
                                       placeholder="{{ 'registration.username'|trans }}"
                                       required="">
                            </div>
                        </div>

                        <div class="form-group">
                            {#<label class="col-sm-2 col-form-label required">{{ 'login.password'|trans }}</label>#}
                            <input type="password"
                                   name="_password"
                                   class="form-control"
                                   placeholder="{{ 'login.password'|trans }}"
                                   required="">

                        </div>
                        <button type="submit" class="btn btn-success btn-block login-button button"><i
                                    class="fa fa-thumbs-o-up"></i><span>Zaloguj</span>
                        </button>

                        <br/>
                        <a class="btn btn-warning btn-block button" role="button"
                           href="{{ path('fos_user_resetting_request') }}"><span>Zresetuj hasło</span></a>
                    </fieldset>

                </div>
            </div>
        </div>


    </form>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet"/>
{% endblock %}