{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

    <a class="btn btn-link" href="{{ path('homepage') }}">Anuluj</a>

{% endblock %}