{% extends 'base.html.twig' %}

{% block body %}

    <h1>Twój plik został pomyślnie załadowany na serwer</h1>

    <img src="{{ asset('uploads/images/' ~ post.image) }}" width="200" height="200">

    <a class="btn btn-link" href="{{ path('post_images') }}">Dodaj kolejny</a>
    <a class="btn btn-link" href="{{ path('homepage') }}">Strona główna</a>

{% endblock %}