<form name="edit_user_data" method="post" action="
   {{ (UserId is defined)
? path('edit_user_addons_data', {"userId": userId})
: path('edit_own_addons_data') }}
">

    {{ form_rest(user_data_form) }}

    <input type="submit" value="Zapisz">
</form>
