{% extends 'base.html.twig' %}

{% block title %}Edycja użytkownika{% endblock %}

{% block body %}

    {{ parent() }}

    {% if userId is defined %}
        <form name="edit_user" method="post" action="{{ path('edit_user', {"userId": userId}) }}">
    {% else %}
        <form name="edit_user" method="post" action="{{ path('edit_own_data') }}">
    {% endif %}
    {{ form_rest(form) }}

    <input type="submit" value="zapisz">
    </form>

    {#<form name = "edit_user_data" method="post" action="">#}
    {% if userId is defined %}
        {{ render(controller('AppBundle:User:editAddonsData', {"userId": userId})) }}
    {% else %}
        {{ render(controller('AppBundle:User:editOwnAddonsData')) }}
    {% endif %}


{% endblock %}