{% extends '@App/default/index.html.twig' %}

{% block title %}Lista użytkowników{% endblock %}

{% block body %}
    {{ parent() }}

    <table style="border:1px black solid">
    <thead>
    <tr>
        <td>lp.</td>
        <td>login</td>
        <td>email</td>
        <td>Imie i Nazwisko</td>
        <td>last login</td>
    </tr>
    </thead>
    <tbody>

    {#z tablicy users wez dane i podstaw je pod user#}
    {% for user in users %}
        <tr>
            <td style="border:1px black solid">{{ loop.index }}</td>
            <td style="border:1px black solid">{{ user.username }}</td>
            <td style="border:1px black solid">{{ user.email }}</td>
            {#<td style="border:1px black solid">{{ (user.userData is not empty) ? user.userData.userName ~' ' ~ user.userData.userSurname }}</td>#}
            <td style="border:1px black solid" id="user_{{ user.id }}">
                <a href="{{ path('ajax_users_data', { "userId": user.id}) }}"
                   data-confirm="Czy na pewno chcesz wyświetlic dane użytkownika?" class="ajax-link">...</a>
            </td>
            <td style="border:1px black solid">{{ user.lastLogin|date('Y-m-d') }}</td>
            <td>
                {% if is_granted('ROLE_ADMIN') or app.user.id == user.id %}
                    <a href="{{ path('edit_user', {"userId": user.id }) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
<table style="border:1px black solid">
    <thead>
    <tr>
        <td>wojewodztwo</td>
        <td>Jeziora</td>
        <td>email</td>
        <td>Imie i Nazwisko</td>
        <td>last login</td>
    </tr>
    </thead>
    <tbody>


    {#z tablicy users wez dane i podstaw je pod user#}
    {% for user in users %}
        <tr>
            <td style="border:1px black solid">{{ loop.index }}</td>
            <td style="border:1px black solid">{{ user.username }}</td>
            <td style="border:1px black solid">{{ user.email }}</td>
            <td style="border:1px black solid">{{ (user.userData is not empty) ? user.userData.userName ~' ' ~ user.userData.userSurname }}</td>
            <td style="border:1px black solid">{{ user.lastLogin|date('Y-m-d') }}</td>
            <td>
                {% if is_granted('ROLE_ADMIN') or app.user.id == user.id %}
                    <a href="{{ path('edit_user', {"userId": user.id }) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}