{% extends 'base.html.twig' %}

{% block title %}Lista jezior{% endblock %}

{% block body %}
    {{ parent() }}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <td>lp.</td>
            <td>Nazwa Jeziora</td>
            <td>Miasto</td>
            <td>Adres</td>
        </tr>
        </thead>
        <tbody>

        {% for lake in lakes %}
            <tr>
                <td style="border:1px black solid">{{ loop.index }}</td>
                <td style="border:1px black solid">{{ lake.name }}</td>
                <td style="border:1px black solid">{{ lake.city }}</td>
                <td style="border:1px black solid">{{ lake.address }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}



