{% extends 'base.html.twig' %}




{% block body %}
    <div class="container">


    <div class="row my-4">
        <div class="col-lg-8">
            <img id="indexImage" class="img-fluid rounded" onclick="changeImage()" src="/images/index1.jpg"
                 alt="Tu powinien byc obrazek">
        </div>

        <div class="col-lg-4">
            <h1>Witaj na moim portalu!</h1>
            <p>Znajdziesz tutaj ( w niedalekiej przyszlosci ;P) najlepsze informacje o wypoczynku nad polskimi jeziorami
                i nie tylko! </p>
            <a id="dontClick" class="btn btn-primary btn-lg" onclick="dontClick()" href="#">Nie Klikaj</a>
        </div>
    </div>



    <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Moja Stopka</p>
        </div>
    </div>
    {#End Content#}

    {#Hello {{ app.user }}#}
    {#<a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>#}

    {#{% if app.user.lastlogin is defined %}#}
    {#Ostatnio byłeś zalogowany: {{ app.user.lastlogin|date('Y-m-d H:i:s') }}#}
    {#{% endif %}#}
{% endblock %}